﻿@using RentService.Service.Enum
@model RentService.WebApp.Models.ProductDetailViewModel
@Html.HiddenFor(x => x.ProductDetail.Id, htmlAttributes: new { id = "productId" })
@{
    var mainSrc = "~/Image/no_image.png";
    if (Model.ProductDetail.Images.Count > 0)
    {
        mainSrc = Model.ProductDetail.Images[0];
    }
}
<div class="card">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">
                <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1">
                        <img src="@mainSrc" />
                    </div>
                    @{
                        for (var i = 2; i <= Model.ProductDetail.Images.Count; i++)
                        {
                            var imgSrc = Model.ProductDetail.Images[i];
                            <div class="tab-pane" id="pic-@i"><img src="@imgSrc" /></div>
                        }
                    }
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                    <li class="active">
                        <a data-target="#pic-1" data-toggle="tab">
                            <img src="@mainSrc"/>
                        </a>
                    </li>
                    @{
                        for (var i = 2; i <= Model.ProductDetail.Images.Count; i++)
                        {
                            var imgSrc = Model.ProductDetail.Images[i];
                            <li><a data-target="#pic-@i" data-toggle="tab"><img src="@imgSrc" /></a></li>
                        }
                    }
                </ul>

            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Model.ProductDetail.ProductName</h3>
                <p class="product-description">@Model.ProductDetail.Description</p>
                <h4 class="price">Current price: <span>$@Model.ProductDetail.Price</span></h4>
                <h5 class="price">Status: @Model.ProductDetail.Status</h5>
                @{
                    if (Model.ProductDetail.StatusId == (int)ProductStatus.Available)
                    {
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button" onclick="RentService.MasterPage.addToCart(@Model.ProductDetail.Id, event)">Add to cart</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>