﻿@model RentService.WebApp.Models.SearchProductViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title</h3>
    </div>
    <div class="panel-body">
        @{
            if (Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    Html.RenderPartial("ProductItemPartial", product);
                }
            }
            else
            {
                <div class="jumbotron">
                    <p class="text-center">No Results Found</p>
                </div>
            }
        }
    </div>
</div>