﻿@model RentService.Service.Model.CartItemModel
@{
    var imgSrc = Model.PreviewImage;
}
<div class="col-sm-4 col-md-4 col-lg-2">
    <div class="product-item">
        <div class="pi-img-wrapper">
            <img src="@imgSrc" class="img-responsive">
            <div>
                @Html.ActionLink("View", "Index", "Product", new {id = Model.Id}, htmlAttributes: new { @class = "btn" })
            </div>
        </div>
        <h3>
            @Html.ActionLink(Model.Name, "Index", "Product", new { id = Model.Id }, null)
        </h3>
        <div class="pi-price">$@Model.Price</div>
        <a href="javascript:;" class="btn add2cart" onclick="RentService.MasterPage.addToCart(@Model.Id, event)">Add to cart</a>
    </div>
</div>
