﻿@model RentService.WebApp.Models.CartViewModel
@{
    decimal total = 0;
}
@using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { @class = "form-horizontal", id = "cart-form" }))
{
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="col-sm-6">Product</th>
                <th class="col-sm-2">Price</th>
                <th class="text-center col-sm-1">Quantity</th>
                <th class="text-center col-sm-2">Subtotal</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.CartItems.Count > 0)
                {
                    for (var i = 0; i < Model.CartItems.Count; i++)
                    {
                        var cartItem = Model.CartItems[i];
                        var subTotal = cartItem.Price * cartItem.Quality;
                        total += subTotal;
                        var imgSrc = cartItem.PreviewImage;
                        @Html.HiddenFor(x => x.CartItems[i].Id)
                        <tr class="cartRow">
                            
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs">
                                        <img src="@imgSrc" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-9">
                                        <h4 class="nomargin">@cartItem.Name</h4>
                                        <p>@cartItem.Description</p>
                                    </div>
                                </div>
                            </td>
                            @Html.Hidden("priceRow", cartItem.Price, new { @class = "priceRow" })
                            <td data-th="Price">$@cartItem.Price</td>
                            <td data-th="Quantity">
                                @Html.TextBoxFor(x => x.CartItems[i].Quality, new { @class = "form-control text-center quantityRow number", value = cartItem.Quality, min = 1})
                                @Html.ValidationMessageFor(x => x.CartItems[i].Quality)
                            </td>
                            <td data-th="Subtotal" class="text-center subTotalRow">$@subTotal</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-danger btn-sm" type="button"><span class="glyphicon glyphicon-remove removeRow" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    }
                    <tr class="noResult" hidden="hidden">
                        <td colspan="5" class="text-center">No Item In Cart</td>
                    </tr>
                }
                else {
                    <tr class="noResult">
                        <td colspan="5" class="text-center">No Item In Cart</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td><a href="@Url.Action("Index", "Home")" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Continue Shopping</a></td>
                <td colspan="1" class="hidden-xs"></td>
                @{
                    if (Model.CartItems.Count > 0)
                    {
                        <td class="noResult"><button class="btn btn-success btn-block" type="button" id="updateCartBtn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</button></td>
                        <td class="hidden-xs text-center noResult"><strong>Total $<span id="total">@total</span></strong></td>
                        <td class="noResult"><button class="btn btn-success btn-block" type="submit">Checkout <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></td>
                    }
                }
            </tr>
        </tfoot>
    </table>

                    }
<script type="text/javascript" src="@Url.Content("/Scripts/pages/RentService.Cart.js")"></script>