﻿@model RentService.WebApp.Models.CartViewModel
<div>
    <form class="form-horizontal" id="order_information_form" action="@Url.Action("Information", "Cart")" method="POST">
        <fieldset>
            <legend>Order Information</legend>
            <div class="form-group">
                @Html.LabelFor(x => x.OrderInformation.Address, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.OrderInformation.Address, htmlAttributes: new { @class = "form-control input-md", placeholder = "Your address", required = "required" })
                    @Html.ValidationMessageFor(x => x.OrderInformation.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.OrderInformation.Phone, htmlAttributes: new {@class = "col-md-4 control-label"})
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.OrderInformation.Phone, htmlAttributes: new {@class = "form-control input-md number", required = "required"})
                    @Html.ValidationMessageFor(x => x.OrderInformation.Phone)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.OrderInformation.Note, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.OrderInformation.Note, htmlAttributes: new { @class = "form-control input-md", rows = 3 })
                    @Html.ValidationMessageFor(x => x.OrderInformation.Note)
                    @Html.ValidationMessageFor(x => x.OrderInformation.Note)
                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="checkoutBtn" name="save" class="btn btn-success">Checkout</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>