﻿@model RentService.WebApp.Models.UserDetailViewModel
<div>
    @using (Html.BeginForm("Detail", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TimeStamp)
        <fieldset>

            <!-- Form Name -->
            <legend>User Detail</legend>
            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Fullname, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Fullname, htmlAttributes: new { @class = "form-control input-md", placeholder = "Fullname", required = "required" })
                    @Html.ValidationMessageFor(x => x.Fullname)
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Phone, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Phone, htmlAttributes: new { @class = "form-control input-md", placeholder = "Phone number", required = "required" })
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Address, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Address, htmlAttributes: new { @class = "form-control input-md", placeholder = "Address", rows = 3, required = "required" })
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="updateBtn" name="updateBtn" class="btn btn-success">Submit</button>
                </div>
            </div>

        </fieldset>
    }
</div>
<script type="text/javascript" src="@Url.Content("/Scripts/pages/RentService.Auth.js")"></script>
