﻿@using RentService.WebApp.Helper
@model RentService.WebApp.Models.IndexPageViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Products</h3>
    </div>
    <div class="panel-body">
        @{

            foreach (var product in Model.LatestProducts)
            {
                Html.RenderPartial("ProductItemPartial", product);
            }
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Recommended Products</h3>
    </div>
    <div class="panel-body">
        @{
            foreach (var product in Model.LatestProducts)
            {
                Html.RenderPartial("ProductItemPartial", product);
            }
        }
    </div>
</div>