﻿@model RentService.WebApp.Models.LoginViewModel
<div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control input-md", placeholder = "Your email", type = "email", required = "required" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control input-md", required = "required" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="loginBtn" name="save" class="btn btn-success">Login</button>
                </div>
            </div>

        </fieldset>
    }
</div>
<script type="text/javascript" src="@Url.Content("/Scripts/pages/RentService.Auth.js")"></script>