﻿@using RentService.Core.Enum
@using RentService.Service.Model.Base
@model RentService.WebApp.Models.MasterPageViewModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Electronix Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" id="menuHomeBtn">Home</a>
            </div>
            @Html.Partial("Menu", Model)
        </div><!-- /.container-fluid -->
    </nav>
    <div id="container">
        <div class="col-sm-3 col-md-3 col-lg-2">
            @Html.Partial("MasterCategories", Model)
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8" id="main_content">
            @Html.Action("Index", "Home")
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="messagePopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myPopupLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="popup-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2016</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/helper")
    <script type="text/javascript" src="@Url.Content("/Scripts/pages/RentService.MasterPage.js")"></script>
    @{
        Html.EnableClientValidation();
    }
</body>
</html>