﻿<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    @{
        var cart = Session["Cart"];
        var cartCount = 0;
        if (cart != null)
        {
            cartCount = ((Dictionary<int, int>)cart).Count;
        }
    }
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="menuLoginBtn">Login</a></li>
        <li><a href="#" id="menuRegisterBtn">Register</a></li>
        <li><a href="#" id="menuViewCart"><span class="glyphicon glyphicon-shopping-cart"></span> <span id="cartCount">@cartCount</span> - Items</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <div class="input-group">
                @Html.TextBox("menuSearchTxt", string.Empty, htmlAttributes: new {@class = "form-control", placeholder = "Search", id = "menuSearchTxt"})
            </div>
        </div>
        <button type="submit" class="btn btn-default" id="menuSearch">Search</button>
    </form>
</div>
