﻿@model RentService.WebApp.Models.RegisterViewModel
<div>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>

            <!-- Form Name -->
            <legend>Register</legend>
            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Fullname, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Fullname, htmlAttributes: new { @class = "form-control input-md", placeholder = "Fullname", required = "required" })
                    @Html.ValidationMessageFor(x => x.Fullname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email, htmlAttributes: new {@class = "col-md-4 control-label"})
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Email, htmlAttributes: new {@class = "form-control input-md", placeholder = "Your email", type = "email", required = "required"})
                    @Html.ValidationMessageFor(x => x.Email)
                    <span class="help-block">This will be your username</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control input-md", required = "required" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Phone, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Phone, htmlAttributes: new { @class = "form-control input-md number", placeholder = "Phone number", required = "required" })
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Address, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Address, htmlAttributes: new { @class = "form-control input-md", placeholder = "Address", rows = 3, required = "required" })
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="registerBtn" name="registerBtn" class="btn btn-success">Submit</button>
                </div>
            </div>

        </fieldset>
    }
</div>